.loading::after{
    content: "";
    font-size: xxx-large;
    animation: load infinite ease-in-out 1s;
}

@keyframes load {
    0%{
        content: ".";
    }
    25%{
        content: ". .";
    }
    50%{
        content: ". . .";
    }
    75%{
        content: ". . . .";
    }
    100%{
        content: ". . . . .";
    }
}